<h1>All lists</h1>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1640127249305-793865c2efe1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2206&q=80);">
  <div class="container">
    <h1>Movies</h1>
    <p>Save here your personalized collection of movies</p>
    <a class="btn btn-primary " href="#" <%= link_to "+ Add a list", new_list_path %>></a>
  </div>
</div>


<div class="cards" >
  <% @lists.each do |list| %>
    <div class="card-category">
      <li><%= list.name %></li>
    </div>
  <% end %>
</div>
